"""
This module stored pre-configred SQL statements
"""
# backend/app/dao/{{ table_singular_snakecase_name}}.py
import math
from atlas.metadata import MetaClient

class {{table_singular_pascal_name}}MetaClient(MetaClient):
    
    def create_{{ table_singular_snakecase_name}}(self, request_data:dict):
        sql_insert = {% if table.schema %}f{% endif %}"""INSERT INTO  {% if table.schema %}{{'{'}}self.schema{{'}'}}.{% endif %}{{table.name}}
        ({% for col in columns %}{{col.name}}{% if not loop.last %},{% endif %}{% endfor %}) VALUES
        ({% for col in columns %}
        %({{col.name}})s{% if not loop.last %},
        {% endif %}
        {% endfor %})
        {% if pk_columns %}
        {% if is_postgresql %} 
        ON CONFLICT ({% for pk_col in pk_columns %}{{pk_col.name }}{% if not loop.last %}, {% endif %}{% endfor %})
        DO UPDATE SET
        {% for col in non_pk_columns %}{{col.name}}=excluded.{{col.name}}{% if not loop.last %},
        {% endif %}
        {% endfor %}
    
        {% endif %}
        {% endif %}
        RETURNING *
        """    
        data  = self.dbclient.execute_query(sql_insert, params=request_data, rows=1, result_type="map")        
        return data


    def read_{{ table_singular_snakecase_name}}(self, request_data:dict):
        sql_select_one = {% if table.schema %}f{% endif %}"""SELECT 
        {% for col in columns %}
            {{col.name}}{% if not loop.last %},
        {% endif %}
        {% endfor %}

        FROM 
        {% if table.schema %}
        {{'{'}}self.schema{{'}'}}.{% endif %}{{table.name}} a 
        {% if pk_columns %} 
        WHERE
        {% else %}
        --No primary key defined, please add WHERE clause here
        {% endif %}
        {% for pk_col in pk_columns %}
        a.{{pk_col.name }}=%({{pk_col.name }})s{% if not loop.last %} AND 
        {% endif %}
        {% endfor %}"""
        data  = self.dbclient.execute_query(sql_select_one, params=request_data, rows=1, result_type="map")        
        return data
        
    
    def get_paging_info_{{ table_singular_snakecase_name}}(self, page_size: int = None):
        sql_record_count = {% if table.schema %}f{% endif %}"""SELECT count(*)
        FROM {% if table.schema %}{{'{'}}self.schema{{'}'}}.{% endif %}{{table.name}} 
        """
        total_items = self.dbclient.query_singular_value(sql_record_count)
        total_pages = math.ceil(total_items / page_size)
        return {"total_items":total_items, "total_pages":total_pages, "page_size": page_size}

    
    def read_all_{{ table_singular_snakecase_name}}(self, request_data: dict, page_number: int = None, page_size: int = None):
        """Please change ORDER BY according to you table data and display requirement"""
        sql_select_all = {% if table.schema %}f{% endif %}"""SELECT 
        {% for col in columns %}
        {{col.name}}{% if not loop.last %},
        {% endif %}
        {% endfor %}                
        FROM  {% if table.schema %}{{'{'}}self.schema{{'}'}}.{% endif %}{{table.name}}
        """
        
        if page_number is not None and page_size is not None:
            offset = (page_number - 1) * page_size
            sql_select_all = sql_select_all + f"ORDER BY 1 LIMIT {page_size} OFFSET {offset}"
        
        data  = self.dbclient.execute_query(sql_select_all, params=request_data, result_type="map")        
        return data
        

    def update_{{ table_singular_snakecase_name}}(self, request_data:dict):
        sql_update = {% if table.schema %}f{% endif %}"""UPDATE  {% if table.schema %}{{'{'}}self.schema{{'}'}}.{% endif %}{{table.name}}
        SET 
        {% for col in non_pk_columns %}
        {{col.name}}=%({{col.name}})s{% if not loop.last %},
        {% endif %}
        {% endfor %}

        {% if pk_columns %} 
        WHERE
        {% else %}
        --No primary key defined, please add WHERE clause here
        {% endif %}
        {% for pk_col in pk_columns %}
        {{pk_col.name }}=%({{pk_col.name }})s{% if not loop.last %} AND
        {% endif %}
        {% endfor %}
        """
        data  = self.dbclient.execute_query(sql_update, params=request_data, rows=1, result_type="map")        
        return data


    def delete_{{ table_singular_snakecase_name}}(self, request_data:dict):
        sql_delete = {% if table.schema %}f{% endif %}"""DELETE FROM  {% if table.schema %}{{'{'}}self.schema{{'}'}}.{% endif %}{{table.name}}
        {% if pk_columns %} 
        WHERE
        {% else %}
        --No primary key defined, please add WHERE clause here
        {% endif %}
        {% for pk_col in pk_columns %}
        {{pk_col.name }}=%({{pk_col.name }})s{% if not loop.last %} AND
        {% endif %}
        {% endfor %}
        RETURNING *
        """
        data  = self.dbclient.execute_query(sql_update, params=request_data, rows=1, result_type="map")        
        return data


