import os
os.environ["ATLAS_TESTING"] = "true"
os.environ["DB_DIALECT"] = "sqllite"
import pytest
from httpx import AsyncClient
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.pool import StaticPool
from sqlalchemy import text
import sqlite3
from app.main import app
from app.app_session import sqlalchmey_db as db


@pytest.fixture
def client():
    with app.test_client() as client:
        with app.app_context():           
            db.create_all()
        yield client
        with app.app_context():
            db.drop_all()


def test_get_{{table_plural_snakecase_name}}_empty(client):
    """
    Tests the GET /{{table_kebab_case_name}}/ endpoint when no {{table_plural_snakecase_name}} exist.
    It should return an empty list with a 200 status code.
    """
    
    response = client.get("/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}/")
    assert response.status_code == 200
    assert response.json["data"] == []
        

def test_create_{{table_singular_snakecase_name}}(client):
    """
    Tests the POST /{{table_kebab_case_name}}/ endpoint to create a new user.
    It should return the new {{table_singular_snakecase_name}} with a 200 status code.
    """
    # Add fake data here
    fake_data = {% if fake_data %}{{fake_data | json_string }}{% else %}None
    {% endif %}

    response = client.post(
        "/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}/",
        json=fake_data,
        content_type="application/json"
    )
    assert response.json["code"] == 201
    {% for col in non_pk_columns %}
    assert response.json["data"]["{{ col.name | snake_case }}"] == fake_data["{{ col.name | snake_case }}"]        
    {% endfor %}


def test_get_{{table_plural_snakecase_name}}_with_data(client):
    """
    Tests the GET /users endpoint after a user has been created.
    It should return a list containing the created user.
    """
    # First, create a user using the same fixture's client.
    fake_data = {% if fake_data %}{{fake_data | json_string }}{% else %}None
    {% endif %}

    client.post("/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}/", 
                json=fake_data, 
                content_type="application/json")

    
    response = client.get("/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}/")
    assert response.status_code == 200
    assert len(response.json["data"]) == 1
    {% for col in non_pk_columns %}
    assert response.json["data"][0]["{{ col.name | snake_case }}"] == fake_data["{{ col.name | snake_case }}"]        
    {% endfor %}

   



def test_create_{{table_singular_snakecase_name}}_missing_data(client):
    """
    Tests the POST //api/{{table_kebab_case_name}}/ endpoint with a bad request (missing data).
    It should return a 400 status code with an error message.
    """
    # missing required fields
    fake_data = {% if fake_data %}{{fake_data | json_string }}{% else %}None
    {% endif %}

    response = client.post("/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}/", 
                json=fake_data, 
                content_type="application/json")

    assert response.json["code"] == 400
    assert "err" in response.json


def test_create_{{table_singular_snakecase_name}}_duplicate_unique_field(client):
    """
    Tests creating a {{table_singular_snakecase_name}} with a duplicate unique fields, which should fail.
    It should return a 400 status code with an error message.
    """
    # Create the first {{table_singular_snakecase_name}} successfully.
    fake_data1  = {% if fake_data %}{{fake_data | json_string }}{% else %}None
    {% endif %}

    client.post(
        "/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}/",
        json=fake_data1,
        content_type="application/json"
    )

    # Attempt to create a second {{table_singular_snakecase_name}} with the same data.   
    response = client.post(
        "/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}/",
        json=fake_data1,
        content_type="application/json"
    )
    assert response.json["code"] == 500
    assert "err" in response.json



def test_get_{{table_singular_snakecase_name}}_by_pk(client):
    """
    Tests retrieving a single {{table_singular_snakecase_name}} by primary key.
    """
    # Create a user first
    fake_data = {% if fake_data %}{{fake_data | json_string }}{% else %}None
    {% endif %}
    
    create_response = client.post("/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}/", 
                                    json=fake_data, 
                                    content_type="application/json")

    # Get the {{table_singular_snakecase_name}} by primary key
    get_response = client.get(f"/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}{% for col in pk_columns %}/{{'{'}}create_response.json["data"]["{{col.name | snake_case }}"]{{'}'}}{% endfor %}")
    assert get_response.status_code == 200
    {% for col in non_pk_columns %}
    assert get_response.json["data"]["{{ col.name | snake_case }}"] == fake_data["{{ col.name | snake_case }}"]        
    {% endfor %}


def test_get_{{table_singular_snakecase_name}}_by_pk_not_found(client):
    """
    Tests retrieving a {{table_singular_snakecase_name}} that does not exist.
    """
    fake_data = {% if another_fake_data %}{{another_fake_data | json_string }}{% else %}None
    {% endif %}
    
    response = client.get(f"/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}{% for col in pk_columns %}/{{'{'}}fake_data["{{col.name | snake_case }}"]{{'}'}}{% endfor %}")
    assert response.status_code == 404
    assert response.json["error"] == "User not found"
    


def test_update_{{table_singular_snakecase_name}}(client):
    """
    Tests updating an existing {{table_singular_snakecase_name}}.
    """
    # Create a {{table_singular_snakecase_name}} to update
    fake_data = {% if fake_data %}{{fake_data | json_string }}{% else %}None
    {% endif %}


    create_response = client.post("/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}/", 
                                    json=fake_data, 
                                    content_type="application/json")

    fake_pk = create_response.json["data"]["pk_column_name"]
    

    # Update the {{table_singular_snakecase_name}}
    update_data = {% if another_fake_data %}{{another_fake_data | json_string }}{% else %}None
    {% endif %}

    {% for col in pk_columns %}
    update_data["{{col.name | snake_case }}"] = fake_data["{{col.name | snake_case }}"]    
    {% endfor %}

    update_response = client.put(f"/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}{% for col in pk_columns %}/{{'{'}}fake_data["{{col.name | snake_case }}"]{{'}'}}{% endfor %}", 
                                json=update_data, 
                                content_type="application/json")
    
    assert update_response.status_code == 200
    {% for col in non_pk_columns %}
    assert update_response.json["data"]["{{ col.name | snake_case }}"] == update_data["{{ col.name | snake_case }}"]        
    {% endfor %}

    # Verify the update by fetching the {{table_singular_snakecase_name}}
    get_response = client.get(f"/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}{% for col in pk_columns %}/{{'{'}}fake_data["{{col.name | snake_case }}"]{{'}'}}{% endfor %}")
    assert get_response.status_code == 200
    {% for col in non_pk_columns %}
    assert get_response.json["data"]["{{ col.name | snake_case }}"] == update_data["{{ col.name | snake_case }}"]        
    {% endfor %}
    

def test_update_{{table_singular_snakecase_name}}_not_found(client):
    """
    Tests updating a {{table_singular_snakecase_name}} that does not exist.
    """
    fake_update_data = {% if another_fake_data %}{{another_fake_data | json_string }}{% else %}None
    {% endif %}

    response = client.put(f"/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}{% for col in pk_columns %}/{{'{'}}fake_update_data["{{col.name | snake_case }}"]{{'}'}}{% endfor %}", 
                            json=fake_update_data, 
                            content_type="application/json")
    assert response.status_code == 404
    assert response.json["error"] == "User not found"


def test_update_{{table_singular_snakecase_name}}_duplicate_email(client):
    """
    Tests updating a {{table_singular_snakecase_name}} with an email that already exists.
    """
    
    fake_data = {% if fake_data %}{{fake_data | json_string }}{% else %} None
    {% endif %}
    
    # Create two users
    client.post("/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}/", 
                json=fake_data)
    
    
    fake_data2 = {% if another_fake_data %}{{another_fake_data | json_string }}{% else %} None
    {% endif %}

    create_response = client.post("/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}/", json=fake_data2)
    

    
    # Attempt to update user2's email to user1's email
    fake_data3 = {% if third_fake_data %}{{third_fake_data | json_string }}{% else %}None
    {% endif %}

    {% for col in pk_columns %}
    del fake_data3["{{col.name | snake_case}}"]
    {% endfor %}

    response = client.put(f"/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}{% for col in pk_columns %}/{{'{'}}fake_data["{{col.name | snake_case }}"]{{'}'}}{% endfor %}", json=fake_data3)
    
    assert response.status_code == 400
    assert "already exists" in response.json["error"]

def test_delete_{{table_singular_snakecase_name}}(client):
    """
    Tests deleting an existing {{table_singular_snakecase_name}}.
    """
    # Create a {{table_singular_snakecase_name}} to delete
    fake_data = {% if fake_data %}{{fake_data | json_string }}{% else %} None
    {% endif %}


    create_response = client.post("/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}/", 
                                json=fake_data, 
                                content_type="application/json")
    

    # Delete the {{table_singular_snakecase_name}}
    delete_response = client.delete(f"/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}{% for col in pk_columns %}/{{'{'}}create_response.json["{{col.name | snake_case }}"]{{'}'}}{% endfor %}")
    assert delete_response.status_code == 204

    # Verify the {{table_singular_snakecase_name}} is gone by trying to retrieve it
    get_response = client.get(f"/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}{% for col in pk_columns %}/{{'{'}}fake_data["{{col.name | snake_case }}"]{{'}'}}{% endfor %}")
    assert get_response.status_code == 404

def test_delete_{{table_singular_snakecase_name}}_not_found(client):
    """
    Tests deleting a {{table_singular_snakecase_name}} that does not exist.
    """
    fake_data = {% if fake_data %}{{fake_data | json_string }}{% else %} None
    {% endif %}

    
    response = client.delete(f"/{{kebab_case_project_name}}/api/{{table_kebab_case_name}}{% for col in pk_columns %}/{{'{'}}fake_data["{{col.name | snake_case }}"]{{'}'}}{% endfor %}")
    assert response.status_code == 404
    assert response.json["error"] == "{{table_singular_snakecase_name}} not found"
