"""
This module stored pre-configred SQL statements
"""
# backend/app/dao/{{ table_singular_snakecase_name}}.py
import math
from atlas.metadata import MetaClient

class {{table_singular_pascal_name}}MetaClient(MetaClient):
    
    
    def get_paging_info_{{ table_plural_snakecase_name}}(self, page_size: int = None):
        sql_record_count = """SELECT count(*)
        FROM ({{query}}) t
        """
        total_items = self.dbclient.query_singular_value(sql_record_count)
        total_pages = math.ceil(total_items / page_size)
        return {"total_items":total_items, "total_pages":total_pages, "page_size": page_size}

    
    def read_all_{{ table_plural_snakecase_name }}(self, page_number: int = None, page_size: int = None):
        """Please change ORDER BY according to you table data and display requirement"""
        sql_select_all = """SELECT 
        {% for col in columns %}
        {{col.name}}{% if not loop.last %},
        {% endif %}
        {% endfor %}                
        FROM  ({{query}}) t
        """
        
        if page_number is not None and page_size is not None:
            offset = (page_number - 1) * page_size
            sql_select_all = sql_select_all + f"ORDER BY 1 LIMIT {page_size} OFFSET {offset}"
        
        data  = self.dbclient.execute_query(sql_select_all, result_type="map")        
        return data
        

    