from __future__ import annotations # For Pydantic v2 forward references
from typing import Optional, List, Dict, Any
from pydantic import BaseModel, Field, ValidationError




# Base Schema
class {{ table_singular_pascal_name }}(BaseModel):
    {% for column in columns %}
    {{ column.name | snake_case }}: {{ column | get_pydantic_type }} = Field({{ column | to_pydantic_field_attrs}})
    {% endfor %}

    class Config:
        from_attributes = True # For Pydantic v2
        populate_by_name = True # Allow field names to be populated by their alias (if any)
        
