
"""This router file main all of routes for easy look up"""


def initialize_routes(atlaswebapp):
    """init routes"""
    api = atlaswebapp.rest_api
    ns = api.namespace("{{capital_project_name}} API", path="/")


