name: Publish {{project_name}} Python Package

on: [push, workflow_dispatch]
 
permissions:
  contents: write
  pull-requests: write

jobs:
  release-build:
    runs-on:
      group: {{'${{'}} vars.RUNNER_GROUP_NAME {{'}}'}}


    steps:
      - uses: actions/checkout@v4

      - name: Setup Pypirc
        run: |
          echo "[global]" | sudo tee -a /etc/pip.conf
          echo "index-url = https://artifactory-prod.delivery.kkr.cloud/artifactory/api/npm/datalake-npm/" | sudo tee -a /etc/pip.conf

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Build release distributions
        run: |
          # NOTE: put your own distribution build steps here.
          python -m pip install build twine
          python -m build

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish to internal pypi
        env:
          TWINE_USERNAME: {{'${{'}} vars.ATLAS_ARTIFACTORY_USER {{'}}'}}
          TWINE_PASSWORD: {{'${{'}} secrets.ATLAS_ARTIFACTORY_PASS {{'}}'}}
          TWINE_REPOSITORY_URL: {{'${{'}} vars.ATLAS_PYPI_URL {{'}}'}}
        run: |          
          python -m twine upload --repository local dist/*